<script type="text/javascript">
            try { ace.settings.loadState('main-container') } catch (e) { }
        </script>
        <div id="sidebar" class="sidebar responsive" data-sidebar="true" data-sidebar-scroll="true" data-sidebar-hover="true">
            <script type="text/javascript">
                try { ace.settings.loadState('sidebar') } catch (e) { }
            </script>
            <ul class="nav nav-list">
                <li class="active open">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-bars blue"></i>
                        <span class="menu-text"> 商品管理 </span>
                    </a>

                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="">
                            <a href="/admin/products/add">
                                <i class="menu-icon fa fa-caret-right"></i>
                                <span class="menu-text"> 添加商品 </span>
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a href="/admin/products/manage">
                                <i class="menu-icon fa fa-caret-right"></i>
                                <span class="menu-text"> 管理商品 </span>
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a href="/admin/picture/add">
                                <i class="menu-icon fa fa-caret-right"></i>
                                <span class="menu-text"> 上传图片 </span>
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>
                <!--
                <li class="">
                    <a href="index.html">
                        <i class="menu-icon fa fa-bars blue"></i>
                        <span class="menu-text"> 九块九 </span>
                    </a>

                    <b class="arrow"></b>
                </li>
                -->
            </ul>
        </div>