<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta name="google-site-verification" content="UJIRMVVPMghQeg_Ol1GWoPPD7vktDyjZd8UPF9Cdzuk" />
    <meta name="google-site-verification" content="xk5Z8cAy3xjmnVIVzc_7sbNAiDcUpiT-yY3IcrTT49I" />
    <link href="//cdn.shopify.com/s/files/1/0201/8228/t/12/assets/favicon.ico?7690136429658430411" type="image/x-icon" rel="shortcut icon" />
    <link rel="shortcut icon" href="//cdn.shopify.com/s/files/1/0201/8228/t/12/assets/favicon.png?7690136429658430411" type="image/png" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Light Bulb | LED Light Bulbs | Lighting Online Australia - Fat Shack Vintage</title>

    <meta name="author" content="" />
    <meta name="keywords" content="vintage industrial lighting, vintage bulbs, lighting for interior design, hanging light fixtures, pendant lighting commercial, buy lights online australia, wooden tripod lamp, tripod floor lamp, cage light pendant, tripod table lamp, pendant lights melbourne, industrial pendant lights, industrial pendant lighting, industrial style lighting, industrial lighting, industrial style pendant lights, retro floor lamps, pendant light cord, edison light bulbs, edison light globe, filament light bulb, light fittings online, tripod desk lamp, buy desk lamp, industrial lights vintage, bedroom lighting ideas, industrial light shade, large light bulbs" />
    <meta name="description" content="Shop online for LED light bulbs, light globes, energy efficient light bulbs and Edison light globes. Delivery Australia wide. Use for café lighting, bathroom lighting, kitchen lighting" />

    <link href="/collections/light-bulbs/cfl-bulbs.atom" title="Feed" rel="alternate" type="application/atom+xml" />
    <link rel="alternate" type="application/json+oembed" href="https://www.fatshackvintage.com.au/collections/light-bulbs/cfl-bulbs.oembed" />
    <script>
        //<![CDATA[
        var Shopify = Shopify || {};
        Shopify.shop = "fatshackvintage.myshopify.com";
        Shopify.theme = {"name":"SingleSlider_FSV Responsive V2","id":32707905,"theme_store_id":null,"role":"main"};

        //]]>
    </script>

    <script>
        //<![CDATA[
        (function() {
            function asyncLoad() {
                var urls = ["\/\/secure.apps.shappify.com\/apps\/upsell\/upselljsscript.php?shop=fatshackvintage.myshopify.com","\/\/productreviews.shopifycdn.com\/assets\/v4\/spr.js?shop=fatshackvintage.myshopify.com","\/\/shopify.privy.com\/widget.js?shop=fatshackvintage.myshopify.com"];
                for (var i = 0; i < urls.length; i++) {
                    var s = document.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = urls[i];
                    var x = document.getElementsByTagName('script')[0];
                    x.parentNode.insertBefore(s, x);
                }
            }
            window.attachEvent ? window.attachEvent('onload', asyncLoad) : window.addEventListener('load', asyncLoad, false);
        })();

        //]]>
    </script>
    <script id="__st">
        //<![CDATA[
        var __st={"a":2018228,"offset":39600,"reqid":"3a8646ab-ff4d-4ddf-8b72-f28e02a4a76f","pageurl":"www.fatshackvintage.com.au\/collections\/light-bulbs\/cfl-bulbs","u":"d60138fde231","p":"collection","rtyp":"collection","rid":8791066};
        //]]>
    </script>
    <script>
        //<![CDATA[
        (function() {
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
            s.src = '//cdn.shopify.com/s/javascripts/shopify_stats.js?v=6';
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();

        //]]>
    </script>
    <script src="//cdn.shopify.com/s/assets/themes_support/ga_urchin_forms-668547562549a84f5dfa01ef82607987f85ecbe1c8301faf25059becfa208199.js" defer="defer"></script>
    <script type="text/javascript">

        window.ShopifyAnalytics = window.ShopifyAnalytics || {};
        window.ShopifyAnalytics.meta = window.ShopifyAnalytics.meta || {};
        window.ShopifyAnalytics.meta.currency = 'AUD';
        var meta = {};
        for (var attr in meta) {
            window.ShopifyAnalytics.meta[attr] = meta[attr];
        }

    </script>
    <script type="text/javascript">
        window.ShopifyAnalytics.merchantGoogleAnalytics = function() {

        };
    </script>
    <script type="text/javascript" class="analytics">
        (window.gaDevIds=window.gaDevIds||[]).push('BwiEti');


        (function () {
            var customDocumentWrite = function(content) {
                var jquery = null;

                if (window.jQuery) {
                    jquery = window.jQuery;
                } else if (window.Checkout && window.Checkout.$) {
                    jquery = window.Checkout.$;
                }

                if (jquery) {
                    jquery('body').append(content);
                }
            };

            var trekkie = window.ShopifyAnalytics.lib = window.trekkie = window.trekkie || [];
            if (trekkie.integrations) {
                return;
            }
            trekkie.methods = [
            'identify',
            'page',
            'ready',
            'track',
            'trackForm',
            'trackLink'
            ];
            trekkie.factory = function(method) {
                return function() {
                    var args = Array.prototype.slice.call(arguments);
                    args.unshift(method);
                    trekkie.push(args);
                    return trekkie;
                };
            };
            for (var i = 0; i < trekkie.methods.length; i++) {
                var key = trekkie.methods[i];
                trekkie[key] = trekkie.factory(key);
            }
            trekkie.load = function(config) {
                trekkie.config = config;
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.onerror = function(e) {
                    (new Image()).src = '//v.shopify.com/internal_errors/track?error=trekkie_load';
                };
                script.async = true;
                script.src = 'https://cdn.shopify.com/s/javascripts/tricorder/trekkie.storefront.min.js?v=2016.12.06.1';
                var first = document.getElementsByTagName('script')[0];
                first.parentNode.insertBefore(script, first);
            };
            trekkie.load(
              {"Trekkie":{"appName":"storefront","environment":"production","defaultAttributes":{"shopId":2018228}},"Performance":{"navigationTimingApiMeasurementsEnabled":true,"navigationTimingApiMeasurementsSampleRate":0.001},"Google Analytics":{"trackingId":"UA-29546849-1","domain":"auto","siteSpeedSampleRate":"10","enhancedEcommerce":true,"doubleClick":true,"includeSearch":true},"Facebook Pixel":{"pixelIds":["193877161019912"],"agent":"plshopify1.2"}}
            );

            var loaded = false;
            trekkie.ready(function() {
                if (loaded) return;
                loaded = true;

                window.ShopifyAnalytics.lib = window.trekkie;

                ga('require', 'linker');
                function addListener(element, type, callback) {
                    if (element.addEventListener) {
                        element.addEventListener(type, callback);
                    }
                    else if (element.attachEvent) {
                        element.attachEvent('on' + type, callback);
                    }
                }
                function decorate(event) {
                    event = event || window.event;
                    var target = event.target || event.srcElement;
                    if (target && (target.getAttribute('action') || target.getAttribute('href'))) {
                        ga(function (tracker) {
                            var linkerParam = tracker.get('linkerParam');
                            document.cookie = '_shopify_ga=' + linkerParam + '; ' + 'path=/';
                        });
                    }
                }
                addListener(window, 'load', function(){
                    for (var i=0; i < document.forms.length; i++) {
                        var action = document.forms[i].getAttribute('action');
                        if(action && action.indexOf('/cart') >= 0) {
                            addListener(document.forms[i], 'submit', decorate);
                        }
                    }
                    for (var i=0; i < document.links.length; i++) {
                        var href = document.links[i].getAttribute('href');
                        if(href && href.indexOf('/checkout') >= 0) {
                            addListener(document.links[i], 'click', decorate);
                        }
                    }
                });


                var originalDocumentWrite = document.write;
                document.write = customDocumentWrite;
                try { window.ShopifyAnalytics.merchantGoogleAnalytics.call(this); } catch(error) {};
                document.write = originalDocumentWrite;


                window.ShopifyAnalytics.lib.page(
                null,
                {"pageType":"collection","resourceType":"collection","resourceId":8791066}
                );


                window.ShopifyAnalytics.lib.track(
                "Viewed Product Category",
                {"category":"Collection: light-bulbs","nonInteraction":true}
                );

            });


            var eventsListenerScript = document.createElement('script');
            eventsListenerScript.async = true;
            eventsListenerScript.src = "//cdn.shopify.com/s/assets/shop_events_listener-37861b7e433c159ab7ac8932b47d1b8813173005dff35ce87a5900b43e3492ed.js";
            document.getElementsByTagName('head')[0].appendChild(eventsListenerScript);

        })();
    </script>


    <link rel="stylesheet" media="all" href="//cdn.shopify.com/s/assets/storefront/additional-checkout-buttons-e666b0b8a20c90d1eaafcc0f38897f2b4ab8af21f68426b37926e48a2ae452c2.css" />
    <link rel="canonical" href="https://www.fatshackvintage.com.au/collections/light-bulbs/cfl-bulbs" />
    <meta property="og:site_name" content="Fat Shack Vintage" />

    <meta property="og:image" content="//cdn.shopify.com/s/files/1/0201/8228/t/12/assets/logo.png?7690136429658430411" alt="Fat Shack Vintage - Vintage Industrial Home Decor" />

    <link href="//cdn.shopify.com/s/files/1/0201/8228/t/12/assets/bootstrap.min.css?7690136429658430411" rel="stylesheet" type="text/css" media="all" />
    <link href="//cdn.shopify.com/s/files/1/0201/8228/t/12/assets/bootstrap-theme.css?7690136429658430411" rel="stylesheet" type="text/css" media="all" />
    <link href="//cdn.shopify.com/s/files/1/0201/8228/t/12/assets/bootstrap-select.css?7690136429658430411" rel="stylesheet" type="text/css" media="all" />
    <link href="//cdn.shopify.com/s/files/1/0201/8228/t/12/assets/flexslider.css?7690136429658430411" rel="stylesheet" type="text/css" media="all" />
    <link href="//cdn.shopify.com/s/files/1/0201/8228/t/12/assets/font-awesome.min.css?7690136429658430411" rel="stylesheet" type="text/css" media="all" />
    <link href="//cdn.shopify.com/s/files/1/0201/8228/t/12/assets/styles.css?7690136429658430411" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Arvo:300,400,700">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Arvo:300,400,700">
    <script src="//cdn.shopify.com/s/files/1/0201/8228/t/12/assets/html5shiv.js?7690136429658430411" type="text/javascript"></script>
    <script type="text/javascript" src="//www.google.com/jsapi"></script>
    <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>-->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//cdn.shopify.com/s/files/1/0201/8228/t/12/assets/bootstrap.min.js?7690136429658430411" type="text/javascript"></script>
    <script src="//cdn.shopify.com/s/files/1/0201/8228/t/12/assets/bootstrap-select.min.js?7690136429658430411" type="text/javascript"></script>
    <script src="//cdn.shopify.com/s/assets/themes_support/option_selection-f3dd7ba25bddfb6b0fe9addc0cae11dc709eeb6a469ec7f66f49e3abc4ce8c81.js" type="text/javascript"></script>
    <script src="//cdn.shopify.com/s/assets/themes_support/api.jquery-b90ee9a5604bc68b2f4a3af86b4551207834575e264152eac4822d0b60e0c0d5.js" type="text/javascript"></script>
    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PXC6T2');
    </script>
    <!-- End Google Tag Manager -->

    <script type="text/javascript">
        setTimeout(function(){var a=document.createElement("script");
            var b=document.getElementsByTagName("script")[0];
            a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0056/0579.js?"+Math.floor(new Date().getTime()/3600000);
            a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
    </script>
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '193877161019912');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=193877161019912&ev=PageView&noscript=1" />
    </noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->
</head>
<body id="collection">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PXC6T2"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class='row-offcanvas row-offcanvas-left'>
        <div class='sidebar-offcanvas' id='sidebar_menu'>
            <ul class="mobile_menu list-unstyled">

                <li>
                    <a href="/" class="">
                        <span>Home</span>
                    </a>

                </li>

                <li class="dropdown">
                    <a href="/collections/lighting" class="">
                        <span>Lighting</span>
                    </a>
                    <div class="more">
                        <i class="fa fa-chevron-down"></i>
                    </div>
                    <ul class="dropdown">

                        <li>
                            <a href="/collections/lighting/chandeliers">Chandeliers</a>
                        </li>

                        <li>
                            <a href="/collections/lighting/downlights">Downlights</a>
                        </li>

                        <li>
                            <a href="/collections/lighting/festoon-lights">Festoon Lights</a>
                        </li>

                        <li>
                            <a href="/collections/lighting/floor-lamps">Floor Lamps</a>
                        </li>

                        <li>
                            <a href="/collections/lighting/flush-mount-lights">Flush Mount Lights</a>
                        </li>

                        <li>
                            <a href="/collections/lighting/light-boxes">Light Boxes</a>
                        </li>

                        <li>
                            <a href="/collections/lighting/linear-lighting">Linear Lighting</a>
                        </li>

                        <li>
                            <a href="/collections/lighting/outdoor-lights">Outdoor Lights</a>
                        </li>

                        <li>
                            <a href="/collections/lighting/pendant-lights">Pendant Lights</a>
                        </li>

                        <li>
                            <a href="/collections/lighting/spotlights">Spotlights</a>
                        </li>

                        <li>
                            <a href="/collections/lighting/table-desk-lamps">Table / Desk Lamps</a>
                        </li>

                        <li>
                            <a href="/collections/lighting/track-lighting">Track Lighting</a>
                        </li>

                        <li>
                            <a href="/collections/lighting/vintage-marquee-lights">Vintage Marquee Lights</a>
                        </li>

                        <li>
                            <a href="/collections/lighting/wall-lights">Wall Lights</a>
                        </li>

                    </ul>

                </li>

                <li class="dropdown">
                    <a href="/collections/light-bulbs" class=" current">
                        <span>Light Bulbs</span>
                    </a>
                    <div class="more">
                        <i class="fa fa-chevron-down"></i>
                    </div>
                    <ul class="dropdown">

                        <li>
                            <a href="/collections/light-bulbs/cfl-bulbs">CFL Bulbs</a>
                        </li>

                        <li>
                            <a href="/collections/light-bulbs/edison-bulbs">Edison Bulbs</a>
                        </li>

                        <li>
                            <a href="/collections/light-bulbs/energy-saving-light-bulbs">Energy Saving Light Bulbs</a>
                        </li>

                        <li>
                            <a href="/collections/light-bulbs/led-light-bulbs">LED Light Bulbs</a>
                        </li>

                    </ul>

                </li>

                <li class="dropdown">
                    <a href="/collections/lighting-accessories" class="">
                        <span>Lighting Accessories</span>
                    </a>
                    <div class="more">
                        <i class="fa fa-chevron-down"></i>
                    </div>
                    <ul class="dropdown">

                        <li>
                            <a href="/collections/lighting-accessories/batten-holder">Batten Holder</a>
                        </li>

                        <li>
                            <a href="/collections/lighting-accessories/ceiling-roses">Ceiling Roses</a>
                        </li>

                        <li>
                            <a href="/collections/lighting-accessories/galleries">Galleries</a>
                        </li>

                        <li>
                            <a href="/collections/lighting-accessories/lampholders">Lampholders</a>
                        </li>

                        <li>
                            <a href="/collections/lighting-accessories/multi-light-pendants">Multi Light Pendants</a>
                        </li>

                        <li>
                            <a href="/collections/lighting-accessories/pendant-cords">Pendant Cords</a>
                        </li>

                        <li>
                            <a href="/collections/lighting-accessories/shades">Shades</a>
                        </li>

                        <li>
                            <a href="/collections/lighting-accessories/textile-cloth-cable">Textile Cloth Cable</a>
                        </li>

                        <li>
                            <a href="/collections/lighting-accessories/track-lighting">Track Lighting</a>
                        </li>

                        <li>
                            <a href="/collections/lighting-accessories/wall-lights">Wall Lights</a>
                        </li>

                        <li>
                            <a href="/collections/lighting-accessories/wall-plugs">Wall Plugs</a>
                        </li>

                    </ul>

                </li>

                <li class="dropdown">
                    <a href="/collections/fans" class="">
                        <span>Fans</span>
                    </a>
                    <div class="more">
                        <i class="fa fa-chevron-down"></i>
                    </div>
                    <ul class="dropdown">

                        <li>
                            <a href="/collections/fans/ceiling-fans">Ceiling Fans</a>
                        </li>

                        <li>
                            <a href="/collections/fans/desk-fans">Desk Fans</a>
                        </li>

                        <li>
                            <a href="/collections/fans/fan-accessories">Fan Accessories</a>
                        </li>


                        <li>
                            <a href="/collections/fans/outdoor-fans">Outdoor Fans</a>
                        </li>

                        <li>
                            <a href="/collections/fans/wall-fans">Wall Fans</a>
                        </li>

                    </ul>

                </li>

                <li>
                    <a href="/blogs/vintage-industrial-interior-design-blog" class="">
                        <span>Blog</span>
                    </a>

                </li>

                <li>
                    <a href="/pages/about-us" class="">
                        <span>About Us</span>
                    </a>

                </li>

                <li>
                    <a href="/pages/contact" class="">
                        <span>Contact</span>
                    </a>

                </li>

            </ul>
        </div>
        <div class="row-offcanvas-main">
            <!-- Google Tag Manager -->
            <noscript>
                <iframe src="//www.googletagmanager.com/ns.html?id=GTM-P5NTJ3"
                        height="0" width="0" style="display:none;visibility:hidden"></iframe>
            </noscript>
            <script>
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P5NTJ3');
            </script>
            <!-- End Google Tag Manager -->
            <div id="main_content">
                <div class="container">
                    <div class="wrapper">
                        <!-- Begin toolbar -->
                        <!-- End toolbar -->
                        <!-- Begin Header -->
                        <div id="header">
                            <div class="row">
                                <!-- Begin right navigation -->
                                <!-- End right navigation -->
                                <!-- Begin below navigation -->
                                <div class="col-lg-6 col-md-5 col-sm-5">
                                    <div class="logo">
                                        <a href="/">
                                            <img src="//cdn.shopify.com/s/files/1/0201/8228/t/12/assets/logo.png?7690136429658430411" alt="Fat Shack Vintage" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-7 col-sm-7">
                                    <div class="toolbar">
                                        <ul class="list-inline">

                                            <li>
                                                <a href="/account/login" id="customer_login_link">My Account</a>
                                            </li>

                                            <li>
                                                <a id="shopping-cart-nav" href="/cart" class="cart" title="Shopping Cart">
                                                    <span class="icon-cart">
                                                        <img src="//cdn.shopify.com/s/files/1/0201/8228/t/12/assets/cart.png?7690136429658430411" alt="Cart" />
                                                    </span>Shopping Cart: <span id="top-cart-items">0</span><div class="icon-arrow" style="display:none;"></div>
                                                </a>
                                            </li>
                                            <li style="display:none;">
                                                <a href="/cart" class="top-checkout-link" title="Checkout">Checkout</a>
                                            </li>
                                            <li class="search-field hidden-xs">
                                                <form class="search" action="/search">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-search"></i>
                                                        </span>
                                                        <input type="text" name="q" class="form-control" placeholder="Search" value="" x-webkit-speech="" />
                                                    </div>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <section id="nav">
                                        <nav class="main hidden-xs">
                                            <ul class="list-inline desktop">

                                                <li>
                                                    <a href="/" class="">
                                                        <span>Home</span>
                                                    </a>

                                                </li>

                                                <li class="dropdown">
                                                    <a href="/collections/lighting" class="">
                                                        <span>Lighting</span>
                                                    </a>
                                                    <ul class="dropdown">

                                                        <li>
                                                            <a href="/collections/lighting/chandeliers">Chandeliers</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting/downlights">Downlights</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting/festoon-lights">Festoon Lights</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting/floor-lamps">Floor Lamps</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting/flush-mount-lights">Flush Mount Lights</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting/light-boxes">Light Boxes</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting/linear-lighting">Linear Lighting</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting/outdoor-lights">Outdoor Lights</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting/pendant-lights">Pendant Lights</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting/spotlights">Spotlights</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting/table-desk-lamps">Table / Desk Lamps</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting/track-lighting">Track Lighting</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting/vintage-marquee-lights">Vintage Marquee Lights</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting/wall-lights">Wall Lights</a>
                                                        </li>

                                                    </ul>

                                                </li>

                                                <li class="dropdown">
                                                    <a href="/collections/light-bulbs" class=" current">
                                                        <span>Light Bulbs</span>
                                                    </a>
                                                    <ul class="dropdown">

                                                        <li>
                                                            <a href="/collections/light-bulbs/cfl-bulbs">CFL Bulbs</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/light-bulbs/edison-bulbs">Edison Bulbs</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/light-bulbs/energy-saving-light-bulbs">Energy Saving Light Bulbs</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/light-bulbs/led-light-bulbs">LED Light Bulbs</a>
                                                        </li>

                                                    </ul>

                                                </li>

                                                <li class="dropdown">
                                                    <a href="/collections/lighting-accessories" class="">
                                                        <span>Lighting Accessories</span>
                                                    </a>
                                                    <ul class="dropdown">

                                                        <li>
                                                            <a href="/collections/lighting-accessories/batten-holder">Batten Holder</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting-accessories/ceiling-roses">Ceiling Roses</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting-accessories/galleries">Galleries</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting-accessories/lampholders">Lampholders</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting-accessories/multi-light-pendants">Multi Light Pendants</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting-accessories/pendant-cords">Pendant Cords</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting-accessories/shades">Shades</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting-accessories/textile-cloth-cable">Textile Cloth Cable</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting-accessories/track-lighting">Track Lighting</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting-accessories/wall-lights">Wall Lights</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting-accessories/wall-plugs">Wall Plugs</a>
                                                        </li>

                                                    </ul>

                                                </li>

                                                <li class="dropdown">
                                                    <a href="/collections/fans" class="">
                                                        <span>Fans</span>
                                                    </a>
                                                    <ul class="dropdown">

                                                        <li>
                                                            <a href="/collections/fans/ceiling-fans">Ceiling Fans</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/fans/desk-fans">Desk Fans</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/fans/fan-accessories">Fan Accessories</a>
                                                        </li>


                                                        <li>
                                                            <a href="/collections/fans/outdoor-fans">Outdoor Fans</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/fans/wall-fans">Wall Fans</a>
                                                        </li>

                                                    </ul>

                                                </li>

                                                <li>
                                                    <a href="/blogs/vintage-industrial-interior-design-blog" class="">
                                                        <span>Blog</span>
                                                    </a>

                                                </li>

                                                <li>
                                                    <a href="/pages/about-us" class="">
                                                        <span>About Us</span>
                                                    </a>

                                                </li>

                                                <li>
                                                    <a href="/pages/contact" class="">
                                                        <span>Contact</span>
                                                    </a>

                                                </li>

                                            </ul>
                                            <ul class="list-inline tablet">

                                                <li>
                                                    <a href="#" data-href="/" class="top ">
                                                        <span>Home</span>
                                                    </a>

                                                </li>

                                                <li class="dropdown">
                                                    <a href="#" data-href="/collections/lighting" class="top ">
                                                        <span>Lighting</span>
                                                    </a>
                                                    <ul class="dropdown">

                                                        <li>
                                                            <a href="/collections/lighting/chandeliers">Chandeliers</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting/downlights">Downlights</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting/festoon-lights">Festoon Lights</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting/floor-lamps">Floor Lamps</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting/flush-mount-lights">Flush Mount Lights</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting/light-boxes">Light Boxes</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting/linear-lighting">Linear Lighting</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting/outdoor-lights">Outdoor Lights</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting/pendant-lights">Pendant Lights</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting/spotlights">Spotlights</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting/table-desk-lamps">Table / Desk Lamps</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting/track-lighting">Track Lighting</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting/vintage-marquee-lights">Vintage Marquee Lights</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting/wall-lights">Wall Lights</a>
                                                        </li>

                                                    </ul>

                                                </li>

                                                <li class="dropdown">
                                                    <a href="#" data-href="/collections/light-bulbs" class="top  current">
                                                        <span>Light Bulbs</span>
                                                    </a>
                                                    <ul class="dropdown">

                                                        <li>
                                                            <a href="/collections/light-bulbs/cfl-bulbs">CFL Bulbs</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/light-bulbs/edison-bulbs">Edison Bulbs</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/light-bulbs/energy-saving-light-bulbs">Energy Saving Light Bulbs</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/light-bulbs/led-light-bulbs">LED Light Bulbs</a>
                                                        </li>

                                                    </ul>

                                                </li>

                                                <li class="dropdown">
                                                    <a href="#" data-href="/collections/lighting-accessories" class="top ">
                                                        <span>Lighting Accessories</span>
                                                    </a>
                                                    <ul class="dropdown">

                                                        <li>
                                                            <a href="/collections/lighting-accessories/batten-holder">Batten Holder</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting-accessories/ceiling-roses">Ceiling Roses</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting-accessories/galleries">Galleries</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting-accessories/lampholders">Lampholders</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting-accessories/multi-light-pendants">Multi Light Pendants</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting-accessories/pendant-cords">Pendant Cords</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting-accessories/shades">Shades</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting-accessories/textile-cloth-cable">Textile Cloth Cable</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting-accessories/track-lighting">Track Lighting</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting-accessories/wall-lights">Wall Lights</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/lighting-accessories/wall-plugs">Wall Plugs</a>
                                                        </li>

                                                    </ul>

                                                </li>

                                                <li class="dropdown">
                                                    <a href="#" data-href="/collections/fans" class="top ">
                                                        <span>Fans</span>
                                                    </a>
                                                    <ul class="dropdown">

                                                        <li>
                                                            <a href="/collections/fans/ceiling-fans">Ceiling Fans</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/fans/desk-fans">Desk Fans</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/fans/fan-accessories">Fan Accessories</a>
                                                        </li>


                                                        <li>
                                                            <a href="/collections/fans/outdoor-fans">Outdoor Fans</a>
                                                        </li>

                                                        <li>
                                                            <a href="/collections/fans/wall-fans">Wall Fans</a>
                                                        </li>

                                                    </ul>

                                                </li>

                                                <li>
                                                    <a href="#" data-href="/blogs/vintage-industrial-interior-design-blog" class="top ">
                                                        <span>Blog</span>
                                                    </a>

                                                </li>

                                                <li>
                                                    <a href="#" data-href="/pages/about-us" class="top ">
                                                        <span>About Us</span>
                                                    </a>

                                                </li>

                                                <li>
                                                    <a href="#" data-href="/pages/contact" class="top ">
                                                        <span>Contact</span>
                                                    </a>

                                                </li>

                                            </ul>
                                        </nav>
                                        <!-- /.main -->
                                        <nav class="mobile visible-xs">
                                            <div class="row">
                                                <div class="col-xs-2">
                                                    <a style="padding-top:3px; display:block;" href="#" data-toggle="offcanvas">
                                                        <i class="fa fa-bars"></i>
                                                    </a>
                                                </div>
                                                <div class="col-xs-10">
                                                    <form class="search mobile-search" action="/search">
                                                        <div class="input-group">
                                                            <input type="text" name="q" class="form-control" placeholder="Search" value="" x-webkit-speech="" />
                                                            <span class="input-group-btn">
                                                                <button type="submit" class="btn btn-default">
                                                                    <i class="fa fa-search"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </nav>
                                        <!-- /.mobile -->
                                    </section>
                                </div>

                                <!-- End below navigation -->
                            </div>
                        </div>
                        <!-- End Header -->
                        <!-- Begin content-->
                        <section id="content">
                            <div id="collection">

                                <!-- Begin collection info -->
                                <div class="row">
                                    <div class="col-xs-12">
                                        <!-- Begin breadcrumb -->
                                        <div class="breadcrumb">
                                            <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                                <a href="https://www.fatshackvintage.com.au" title="Fat Shack Vintage" itemprop="url">
                                                    <span itemprop="title">Home</span>
                                                </a>
                                            </span>
                                            <span class="arrow-space">&#62;</span>
                                            <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                                <a href="/collections/light-bulbs" title="Light Bulbs" itemprop="url">
                                                    <span itemprop="title">Light Bulbs</span>
                                                </a>
                                            </span>

                                            <span class="arrow-space">&#62;</span>
                                            <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                                <a href="/collections/light-bulbs/cfl-bulbs" title="CFL Bulbs" itemprop="url">
                                                    <span itemprop="title">CFL Bulbs</span>
                                                </a>
                                            </span>


                                            <span class="arrow-space">&#62;</span>
                                            <strong>Page 1 of 1</strong>
                                        </div>
                                        <!-- End breadcrumb -->
                                        <!-- Begin sort collection -->
                                        <div class="sort-collection">
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <h1> CFL Bulbs </h1>
                                                    <!-- Begin collection description -->
                                                    <!-- End collection description -->
                                                </div>
                                                <div class="col-sm-4">

                                                    <div class="browse-tags">
                                                        <label>Browse:</label>
                                                        <select name="collection_tags" id="collection_tags" class="loc_on_change form-control">
                                                            <option value="/collections/light-bulbs">All items</option>
                                                            <option value="/collections/light-bulbs/cfl-bulbs" selected="selected">CFL Bulbs</option>
                                                            <option value="/collections/light-bulbs/edison-bulbs">Edison Bulbs</option>
                                                            <option value="/collections/light-bulbs/energy-saving-light-bulbs">Energy Saving Light Bulbs</option>
                                                            <option value="/collections/light-bulbs/led-light-bulbs">LED Light Bulbs</option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- End sort collection -->
                                    </div>
                                </div>
                                <!-- End collection info -->
                                <!-- Begin no products -->

                                <div class="row products">


                                    <div class="product col-xs-6 col-sm-3 col-md-15">
                                        <div class="image">
                                            <a href="/collections/light-bulbs/products/oversized-cfl-light-bulb">
                                                <img src="//cdn.shopify.com/s/files/1/0201/8228/products/5542015_large.jpeg?v=1357262306" alt="5542015" />
                                            </a>

                                        </div>

                                        <div class="details">
                                            <a href="/collections/light-bulbs/products/oversized-cfl-light-bulb" class="clearfix">
                                                <h4 class="title">Oversized CFL Light Bulb</h4>

                                                <span class="price">

                                                    $25.00

                                                </span>
                                            </a>
                                        </div>

                                    </div>







                                    <div class="product col-xs-6 col-sm-3 col-md-15">
                                        <div class="image">
                                            <a href="/collections/light-bulbs/products/cfl-spiral-designer-light-bulb">
                                                <img src="//cdn.shopify.com/s/files/1/0201/8228/products/CFL_spiral_5_large.jpg?v=1395535800" alt="CFL spiral 5" />
                                            </a>

                                        </div>

                                        <div class="details">
                                            <a href="/collections/light-bulbs/products/cfl-spiral-designer-light-bulb" class="clearfix">
                                                <h4 class="title">CFL Spiral Designer Light Bulb</h4>

                                                <span class="price">

                                                    $25.00

                                                </span>
                                            </a>
                                        </div>

                                    </div>




                                    <div class="visible-xs clearfix"></div>


                                    <div class="product col-xs-6 col-sm-3 col-md-15">
                                        <div class="image">
                                            <a href="/collections/light-bulbs/products/cfl-squirrel-cage-designer-bulb">
                                                <img src="//cdn.shopify.com/s/files/1/0201/8228/products/CFL_squirrel_cage_energy_saver_large.jpg?v=1395536512" alt="CFL squirrel cage energy saver" />
                                            </a>

                                        </div>

                                        <div class="details">
                                            <a href="/collections/light-bulbs/products/cfl-squirrel-cage-designer-bulb" class="clearfix">
                                                <h4 class="title">CFL Squirrel Cage Designer Bulb</h4>

                                                <span class="price">

                                                    $25.00

                                                </span>
                                            </a>
                                        </div>

                                    </div>







                                    <div class="product col-xs-6 col-sm-3 col-md-15">
                                        <div class="image">
                                            <a href="/collections/light-bulbs/products/fat-shack-vintage-plumen-cfl-designer-light-bulb">
                                                <img src="//cdn.shopify.com/s/files/1/0201/8228/products/Plumen_-_CFL_Designer_Light_Bulb_from_Fat_Shack_Vintage_large.jpg?v=1392770301" alt="Plumen - CFL Designer Light Bulb from Fat Shack Vintage" />
                                            </a>

                                        </div>

                                        <div class="details">
                                            <a href="/collections/light-bulbs/products/fat-shack-vintage-plumen-cfl-designer-light-bulb" class="clearfix">
                                                <h4 class="title">Plumen - CFL Designer Light Bulb</h4>

                                                <span class="price">

                                                    $47.00

                                                </span>
                                            </a>
                                        </div>

                                    </div>


                                    <div class="visible-sm clearfix"></div>


                                    <div class="visible-xs clearfix"></div>


                                    <div class="product col-xs-6 col-sm-3 col-md-15">
                                        <div class="image">
                                            <a href="/collections/light-bulbs/products/baby-plumen-001-cfl-designer-light-bulb">
                                                <img src="//cdn.shopify.com/s/files/1/0201/8228/products/Baby_Plumen_001_-_CFL_Designer_Light_Bulb_large.jpg?v=1420881688" alt="Baby Plumen 001 - CFL Designer Light Bulb" />
                                            </a>

                                        </div>

                                        <div class="details">
                                            <a href="/collections/light-bulbs/products/baby-plumen-001-cfl-designer-light-bulb" class="clearfix">
                                                <h4 class="title">Baby Plumen 001 - CFL Designer Light Bulb</h4>

                                                <span class="price">

                                                    $47.00

                                                </span>
                                            </a>
                                        </div>

                                    </div>

                                    <div class="visible-md visible-lg clearfix"></div>





                                    <div class="product col-xs-6 col-sm-3 col-md-15">
                                        <div class="image">
                                            <a href="/collections/light-bulbs/products/plumen-002-cfl-designer-light-bulb">
                                                <img src="//cdn.shopify.com/s/files/1/0201/8228/products/Plumen_002_-_CFL_Designer_Light_Bulb_large.jpg?v=1420550763" alt="Plumen 002 - CFL Designer Light Bulb" />
                                            </a>

                                        </div>

                                        <div class="details">
                                            <a href="/collections/light-bulbs/products/plumen-002-cfl-designer-light-bulb" class="clearfix">
                                                <h4 class="title">Plumen 002 - CFL Designer Light Bulb</h4>

                                                <span class="price">

                                                    $45.00

                                                </span>
                                            </a>
                                        </div>

                                    </div>




                                    <div class="visible-xs clearfix"></div>

                                </div>


                                <!-- End no products -->
                            </div>
                        </section>
                        <!-- End content-->
                    </div>
                </div>
                <!-- Begin footer -->
                <div class="footer-wrapper">
                    <div class="container">
                        <footer>
                            <div class="row">
                                <!-- Begin footer navigation -->
                                <div class="col-sm-4 col-md-2 col-lg-2">
                                    <div class="footer-box">
                                        <h4>Quick Links</h4>
                                        <ul class="unstyled">
                                            <li>
                                                <a href="/pages/about-us" title="About Us">About Us</a>
                                            </li>
                                            <li>
                                                <a href="/pages/inspiration" title="Inspiration">Inspiration</a>
                                            </li>
                                            <li>
                                                <a href="/pages/past-newsletters" title="Past Newsletters">Past Newsletters</a>
                                            </li>
                                            <li>
                                                <a href="/pages/faq" title="FAQ">FAQ</a>
                                            </li>
                                            <li>
                                                <a href="/pages/terms-conditions" title="Terms & Conditions">Terms & Conditions</a>
                                            </li>
                                            <li>
                                                <a href="/pages/privacy" title="Privacy">Privacy</a>
                                            </li>
                                            <li>
                                                <a href="/products/gift-voucher" title="Gift Voucher">Gift Voucher</a>
                                            </li>
                                            <li>
                                                <a href="/pages/contact" title="Contact Us">Contact Us</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End footer navigation -->
                                <!-- Begin twitter -->
                                <div class="col-sm-4 col-md-3 col-lg-3">
                                    <div class="footer-box">
                                        <h4>Follow us</h4>
                                        <div class="clearfix">
                                            <a href="https://twitter.com/FatShackVintage" title="Fat Shack Vintage on Twitter" class="twitter">
                                                <span class="fa-stack fa-lg">
                                                    <i class="fa fa-circle fa-stack-2x"></i>
                                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a href="https://www.facebook.com/fatshackvintage" title="Fat Shack Vintage on Facebook" class="facebook">
                                                <span class="fa-stack fa-lg">
                                                    <i class="fa fa-circle fa-stack-2x"></i>
                                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a href="https://plus.google.com/114984239415248536486/posts" title="Fat Shack Vintage on Google+" class="google">
                                                <span class="fa-stack fa-lg">
                                                    <i class="fa fa-circle fa-stack-2x"></i>
                                                    <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a href="https://pinterest.com/FatShackVintage/" title="Fat Shack Vintage on Pinterest" class="pinterest">
                                                <span class="fa-stack fa-lg">
                                                    <i class="fa fa-circle fa-stack-2x"></i>
                                                    <i class="fa fa-pinterest-p fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            <a href="https://www.instagram.com/fatshackvintage/" title="Fat Shack Vintage on Instagram" class="instagram">
                                                <span class="fa-stack fa-lg">
                                                    <i class="fa fa-circle fa-stack-2x"></i>
                                                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                        </div>
                                        <!-- Begin Guarantee -->
                                        <div class="sub-section">
                                            <img src="//cdn.shopify.com/s/files/1/0201/8228/t/12/assets/30daymoneyback.png?7690136429658430411" alt="Guarantee" />
                                        </div>
                                        <!-- End Guarantee -->
                                    </div>
                                </div>
                                <!-- End twitter -->
                                <!-- Begin newsletter/social -->
                                <div class="col-sm-4 col-md-3 col-lg-3">
                                    <div class="footer-box">
                                        <h4>Newsletter</h4>
                                        <form action="https://FatShackVintage.us6.list-manage.com/subscribe/post?u=72132164a4&amp;id=0bc7857fce" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                                            <div class="input-group">
                                                <input type="email" class="form-control" value="" placeholder="Email Address" name="EMAIL" id="mail" />
                                                <span class="input-group-btn">
                                                    <input type="submit" class="btn newsletter" value="Subscribe" name="subscribe" id="subscribe" />
                                                </span>
                                            </div>
                                        </form>
                                        <div class="sub-section">
                                            <a href="/pages/about-us">
                                                <h4>About Us</h4>
                                                We sell vintage industrial styled lighting, lamps, light bulbs and lighting accessories. Delivery Australia wide.
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End newsletter/social -->
                                <!-- Begin contact -->
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="footer-box">
                                        <div class="row">
                                            <div class="need-a-hand col-sm-5 col-md-12">
                                                <h4>Need a Hand?</h4>
                                                <div>
                                                    <a href="mailto:info@fatshackvintage.com.au">
                                                        <span class="icon-email">
                                                            <img src="//cdn.shopify.com/s/files/1/0201/8228/t/12/assets/mail-icon.png?7690136429658430411" alt="Telephone" />
                                                        </span>
                                                    </a>
                                                    <div class="email_us_anytime">
                                                        Email us anytime:
                                                        <div class="need-a-hand-email">
                                                            <a href="mailto:info@fatshackvintage.com.au">info@fatshackvintage.com.au</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row-2">
                                                    <span class="icon-phone">
                                                        <img src="//cdn.shopify.com/s/files/1/0201/8228/t/12/assets/telephone.png?7690136429658430411" alt="Telephone" />
                                                    </span>Call us 9am to 4pm Mon - Fri:
                                                    <div class="need-a-hand-phone">(03) 9553 4999</div>
                                                </div>
                                            </div>
                                            <div class="secure-payments col-xs-7 col-sm-3 col-md-6">
                                                <img src="//cdn.shopify.com/s/files/1/0201/8228/t/12/assets/secure-payments-by-paypal.png?7690136429658430411" alt="Paypal" style="max-height:82px;" align="top" />
                                            </div>
                                            <div class="ausowned col-xs-5 col-sm-4 col-md-6">
                                                <img src="//cdn.shopify.com/s/files/1/0201/8228/t/12/assets/australian-owned.png?7690136429658430411" alt="Aussie Owned" align="top" style="max-height:82px;" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End contact -->
                                <!-- Begin copyright -->
                                <div class="col-xs-12 tc copyright">
                                    <p>Copyright &copy; 2016 Fat Shack Vintage</p>
                                    <ul class="credit-cards clearfix"></ul>
                                    <!-- /.credit-cards -->
                                </div>
                                <!-- End copyright -->
                            </div>
                        </footer>
                    </div>
                </div>
                <!-- End footer -->

                <div id="flysc" style="display:none;">
                    <div class="flysc-wrapper">
                        <h1>
                            Your Cart <span class="loading">
                                <img src="//cdn.shopify.com/s/files/1/0201/8228/t/12/assets/loading.gif?7690136429658430411" alt="loading" />
                            </span>
                        </h1>
                        <form action="/cart" method="post" id="flysc-form">
                            <table style="display: table;" class="flysc-cart-table">
                                <thead style="display:none;">
                                    <tr>
                                        <th class="flysc-cart-image"></th>
                                        <th class="flysc-cart-description"></th>
                                        <th class="flysc-cart-price">Price</th>
                                        <th class="flysc-cart-qty">Qty</th>
                                        <th class="flysc-cart-remove">Delete</th>
                                        <th class="flysc-cart-total">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="6" class="empty">Your cart is empty... quick, go put something in it!!</td>
                                    </tr>
                                </tbody>
                                <tfoot style="display:none;">
                                    <tr>
                                        <th colspan="4" class="flysc-cart-label">Total Due</th>
                                        <th colspan="2" class="flysc-cart-value" id="flysc-cart_total">$0.00</th>
                                    </tr>
                                    <tr>
                                        <th class="flysc-cart-buttons" colspan="6">
                                            <button type="submit" id="flysc-update-cart" name="flysc-update-cart" onclick="return false;">Update</button>
                                            <button type="submit" id="flysc-checkout" name="flysc-cart">Check Out</button>
                                        </th>
                                </tfoot>
                            </table>
                        </form>
                    </div>
                </div>
                <script>
                    var loadScript = function(url, callback){

                        var script = document.createElement("script")
                        script.type = "text/javascript";

                        if (script.readyState){  //IE
                            script.onreadystatechange = function(){
                                if (script.readyState == "loaded" ||
                                script.readyState == "complete"){
                                    script.onreadystatechange = null;
                                    callback();
                                }
                            };
                        } else {  //Others
                            script.onload = function(){
                                callback();
                            };
                        }

                        script.src = url;
                        document.getElementsByTagName("head")[0].appendChild(script);

                    };
                    var script = '<link href="//cdn.shopify.com/s/files/1/0201/8228/t/12/assets/flysc.css?7690136429658430411" rel="stylesheet" type="text/css" media="all" />';
                    document.write(script);

                    var myAppJavaScript = function($){
                        $(document).ready(function(){
                            $(window).resize(function(){
                                $('#flysc').css({
                                    top:     $('#shopping-cart-nav').offset().top + $('#shopping-cart-nav').height()+10,
                                    right:   $(window).width() - ($('#shopping-cart-nav').offset().left + ($('#shopping-cart-nav').outerWidth()/2))- ($('#flysc').outerWidth()/2),
                                });
                            });
                            $(window).resize();
                        });
                        //document.getElementsByTagName("head")[0].appendChild(script);
                        Shopify.onError = function(XMLHttpRequest, textStatus) {
                            $('#add-to-cart').val('ADD TO CART').hide().fadeIn();
                            $('#flysc span.loading').hide();
                            var data = eval('(' + XMLHttpRequest.responseText + ')');
                            alert(data.message + '(' + data.status  + '): ' + data.description);
                        };

                        var Flysp = {
                            toggleCart: function() {
                                if (!$('#flysc').is(':visible')) {
                                    this.showCart();
                                } else {
                                    this.hideCart();
                                }
                            },

                            hideCart: function() {
                                $('#flysc').slideUp('fast');
                            },

                            showCart: function() {
                                $('#flysc').slideDown('fast');
                            },

                            onVariantChange: function(select) {
                                //$('product-lightbox-price').update((select.options[select.selectedIndex]).title);
                            },

                            updatePrice: function(product_id) {
                                var qty = $('#product-quantity-'+product_id+' option:selected').val();
                                var price = $('#product-variants-'+product_id+' option:selected').attr('title');
                                $('#price-field-'+product_id).html(Shopify.formatMoney( price * qty) );
                            }
                        }
                        $('#shopping-cart-nav').click(function(){
                            if ( !$('#flysc').is(':visible')) {
                                Flysp.showCart();
                            }else{
                                Flysp.hideCart();
                            }
                            return false;
                        });
                        Shopify.onCartUpdate = function(cart) {

                            if ($('#flysc').is(':hidden') ) Flysp.showCart();

                            $('#flysc-cart_total').html(Shopify.formatMoney(cart.total_price));
                            if(cart.item_count > 1){
                                $('#top-cart-items').html(cart.item_count);
                                $('#flysc-cart-items').html(cart.item_count+' items');
                            }else{
                                $('#top-cart-items').html(cart.item_count);
                                $('#flysc-cart-items').html(cart.item_count+ ' item');
                            }
                            $('#flysc .flysc-cart-table tbody').children('tr').remove();

                            if(cart.items.length > 0) {
                                $('.top-checkout-link').show();
                                $('#shopping-cart-nav .icon-arrow').show();
                                $('#flysc thead').show();
                                $('#flysc tfoot').show();
                                $(window).resize();
                                $.each(cart.items, function(index,item) {
                                    /*itemTr           = document.createElement('tr');
                                    itemTr.className = 'flysc-item';
                                    itemTr.id        = 'item-'+item.variant_id;*/
                                    var compare='';
                                    /*if( item.compare_at_price > item.price){
                                    compare='<br /><del>'+Shopify.formatMoney(item.compare_at_price)+'</del>';
                                    }*/
                                    var itemTr = '<tr class="flysc-item" id="item-'+item.variant_id+'">
                                      <td class="cart-image">
                                        <a href="'+item.url+'" title="'+item.title+'">
                                          <img src="' + Shopify.resizeImage(item.image, 'thumb') + '" alt="' + item.title + '" />
                                        </a>
                                      </td>'
                                      + '<td class="flysc-cart-description">
                                        <a href="'+item.url+'">'+item.title+'</a>
                                      </td>'
                                      + '<td class="flysc-cart-price">'+Shopify.formatMoney(item.price)+''+compare+'</td>'
                                      + '<td class="flysc-cart-qty">
                                        <input type="text" maxlength="3" name="updates['+item.variant_id+']" id="flysc-updates-'+item.variant_id+'" value="'+item.quantity+'" onfocus="this.select();"/>
                                      </td>'
                                      + '<td class="flysc-cart-remove">
                                        <a href="#" data-id="'+item.variant_id+'" class="flysc-remove-item">x</a>
                                      </td>'
                                      + '<td class="flysc-cart-total">'+Shopify.formatMoney(item.line_price)+'</td>
                                    </tr>';
                                    $('#flysc .flysc-cart-table tbody').append(itemTr);
                                });
                                //$.jGrowl('There are now ' + cart.items.length + ' items in your cart');
                                Flysp.showCart();
                            } else {
                                var itemTr = '<tr>
                                  <td colspan="6" class="empty">Your cart is empty... quick, go put something in it!!</td>
                                </tr>';
                                $('#top-cart-items').html('0');
                                $('#shopping-cart-nav .icon-arrow').hide();
                                $('.top-checkout-link').hide();
                                $('#flysc thead').hide();
                                $('#flysc tfoot').hide();
                                $(window).resize();
                                $('#flysc .flysc-cart-table tbody').append(itemTr);
                                Flysp.hideCart();
                            }
                            $('#flysc span.loading').hide();
                        }
                        /*$('#flysc-tab').click(function(){
                        $('#flysc .flysc-wrapper').slideToggle();
                        return false;
                        });*/
                        Shopify.onItemAdded = function(line_item) {
                            $('form')[0].reset();
                            var old_text = $('input[name=add]').val();
                            $('input[name=add]').hide().val('ADDED!').fadeIn();
                            setTimeout(function(){
                                $('input[name=add]').val(old_text).hide().fadeIn();
                            }, 1000);
                            //$.jGrowl(line_item.title + ' was added to your shopping cart.');
                            Shopify.getCart(function(cart){
                                Shopify.onCartUpdate(cart);
                                /*
                                if($('item-'+line_item.variant_id)) {
                                new Effect.Pulsate($('item-' + line_item.variant_id).firstChild, { duration: 1.0, pulses: 3 });
                                }
                                */
                            });
                        };

                        $(document).mouseup(function (e)
                        {
                            var container = $("#flysc");
                            if (container.has(e.target).length === 0)
                            {
                                Flysp.hideCart();
                            }
                        });
                        $('#flysc-update-cart').click(function(){
                            $('#flysc span.loading').show();
                            Shopify.updateCartFromForm('flysc-form');
                            return false;
                        });
                        $('body').on('touchend', function(e) {
                            var container = $("#flysc");
                            var container2 = $("#shopping-cart-nav").parent();
                            if (container.has(e.target).length === 0 && container2.has(e.target).length ===0)
                            {
                                Flysp.hideCart();
                            }
                        });
                        $(document).on('submit','form[action="/cart/add"]',function(){
                            if(!$(this).attr('id')){
                                $(this).attr('id','flysc-cart');
                            }
                            Shopify.addItemFromForm($(this).attr('id'));
                            return false;
                        });
                        $(document).on('click','.flysc-remove-item', function() {
                            var id=$(this).attr("data-id");
                            $('#flysc span.loading').show();
                            /*       $('#flysc-updates-'+id).val(0);*/
                            $(this).parent().parent().find('input').val(0);
                            Shopify.updateCartFromForm('flysc-form');
                            //document.getElementById('flysc-form').submit();
                        });
                    };

                    if ((typeof jQuery === 'undefined') || (parseFloat(jQuery.fn.jquery) < 1.7)) {
                        loadScript('//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js', function(){
                            jQuery191 = jQuery.noConflict(true);
                            myAppJavaScript(jQuery191);
                        });
                    } else {
                        myAppJavaScript(jQuery);
                    }
                </script>


                <script src="//cdn.shopify.com/s/files/1/0201/8228/t/12/assets/jquery.flexslider-min.js?7690136429658430411" type="text/javascript"></script>

                <script src="//cdn.shopify.com/s/files/1/0201/8228/t/12/assets/jquery.tweet.js?7690136429658430411" type="text/javascript"></script>
                <script src="//cdn.shopify.com/s/files/1/0201/8228/t/12/assets/jquery.fancybox.js?7690136429658430411" type="text/javascript"></script>
                <script src="//cdn.shopify.com/s/files/1/0201/8228/t/12/assets/scripts.js?7690136429658430411" type="text/javascript"></script>
                <script type="text/javascript">
                    Shopify.money_format = '${{amount}}';
                </script>
            </div>
        </div>
    </div>
    <!-- Google Code for Remarketing Tag -->
    <!--------------------------------------------------
    Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
    --------------------------------------------------->
    <script>

        var google_tag_params = {
            ecomm_prodid: 'shopify_AU__',
            ecomm_pagetype: 'collection',
            ecomm_totalvalue:
            };


    </script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 946183487;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/946183487/?value=0&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>
</body>
</html>