<!DOCTYPE html>
<html>
<head>
    <%include header.ejs %>
</head>
<body>
    <!--
    <h1><%= name %></h1>
    <p>Welcome to <%= title %></p>
    -->
    <div class="row-offcanvas row-offcanvas-left">
        <div class="sidebar-offcanvas" id="sidebar_menu">
            <ul class="mobile_menu list-unstyled">
                <li>
                    <a href="/" class="current">Home</a>
                </li>
                <li class="dropdown">
                    <a href="/collections/lighting">
                        <span>Lighting</span>
                        <div class="more"><i class="fa fa-chevron-down"></i></div>
                    </a>
                    <ul class="dropdown">
                        <li><a href="/collections/lighting/chandeliers">Chandeliers</a></li>
                        <li><a href="/collections/lighting/downlights">Downlights</a></li>
                        <li><a href="/collections/lighting/festoon-lights">Festoon Lights</a></li>
                        <li><a href="/collections/lighting/floor-lamps">Floor Lamps</a></li>
                        <li><a href="/collections/lighting/flush-mount-lights">Flush Mount Lights</a></li>
                        <li><a href="/collections/lighting/light-boxes">Light Boxes</a></li>
                        <li><a href="/collections/lighting/linear-lighting">Linear Lighting</a></li>
                        <li><a href="/collections/lighting/outdoor-lights">Outdoor Lights</a></li>
                        <li><a href="/collections/lighting/pendant-lights">Pendant Lights</a></li>
                        <li><a href="/collections/lighting/spotlights">Spotlights</a></li>
                        <li><a href="/collections/lighting/table-desk-lamps">Table / Desk Lamps</a></li>
                        <li><a href="/collections/lighting/track-lighting">Track Lighting</a></li>
                        <li><a href="/collections/lighting/vintage-marquee-lights">Vintage Marquee Lights</a></li>
                        <li><a href="/collections/lighting/wall-lights">Wall Lights</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="row-offcanvas-main">
            <div class="container">
                <div class="wrapper">
                    <!-- Begin toolbar -->
                    <!-- End toolbar -->
                    <!-- Begin Header -->
                    <div id="header">
                        <div class="row">
                            <!-- Begin right navigation -->
                            <!-- End right navigation -->
                            <!-- Begin below navigation -->
                            <div class="col-lg-6 col-md-5 col-sm-5">
                                <div class="logo">
                                    <a href="./Vintage_files/Vintage.html"><img src="./Vintage_files/logo.png" alt="Fat Shack Vintage"></a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-7 col-sm-7">
                                <div class="toolbar">
                                    <ul class="list-inline">
                                        <li><a href="/account/login" id="customer_login_link">My Account</a></li>
                                        <li><a id="shopping-cart-nav" href="/cart" class="cart" title="Shopping Cart"><span class="icon-cart"><img src="./Vintage_files/cart.png" alt="Cart"> </span>Shopping Cart: <span id="top-cart-items">0</span><div class="icon-arrow" style="display:none;"></div></a></li>
                                        <li style="display:none;"><a href="/cart" class="top-checkout-link" title="Checkout">Checkout</a></li>
                                        <li class="search-field hidden-xs">
                                            <form class="search" action="/search">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                                    <input type="text" name="q" class="form-control" placeholder="Search" value="" x-webkit-speech="">
                                                </div>
                                            </form>
                                        </li>
                                    </ul>
                                    <a href="http://www.fatshackvintage.com.au/products/mill-pendant-lights" id="seven"><img src="./Vintage_files/header_add_logo.png" alt="-"></a>
                                    <!--<a href="http://www.fatshackvintage.com.au/blogs/pluck-of-the-week-showcase-vintage-industrial-home-decor/8701471-fat-shack-vintage-lights-in-masterchef-restaurants" id="seven"></a>-->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <section id="nav">
                                    <nav class="main hidden-xs">
                                        <ul class="list-inline desktop">
                                            <li>
                                                <a href="./Vintage_files/Vintage.html" class=" current"><span>Home</span></a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="/collections/lighting" class=""><span>Lighting</span></a>
                                                <ul class="dropdown">
                                                    <li><a href="/collections/lighting/chandeliers">Chandeliers</a></li>
                                                    <li><a href="/collections/lighting/downlights">Downlights</a></li>
                                                    <li><a href="/collections/lighting/festoon-lights">Festoon Lights</a></li>
                                                    <li><a href="/collections/lighting/floor-lamps">Floor Lamps</a></li>
                                                    <li><a href="/collections/lighting/flush-mount-lights">Flush Mount Lights</a></li>
                                                    <li><a href="/collections/lighting/light-boxes">Light Boxes</a></li>
                                                    <li><a href="/collections/lighting/linear-lighting">Linear Lighting</a></li>
                                                    <li><a href="/collections/lighting/outdoor-lights">Outdoor Lights</a></li>
                                                    <li><a href="/collections/lighting/pendant-lights">Pendant Lights</a></li>
                                                    <li><a href="/collections/lighting/spotlights">Spotlights</a></li>
                                                    <li><a href="/collections/lighting/table-desk-lamps">Table / Desk Lamps</a></li>
                                                    <li><a href="/collections/lighting/track-lighting">Track Lighting</a></li>
                                                    <li><a href="/collections/lighting/vintage-marquee-lights">Vintage Marquee Lights</a></li>
                                                    <li><a href="/collections/lighting/wall-lights">Wall Lights</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a href="/collections/light-bulbs" class=""><span>Light Bulbs</span></a>
                                                <ul class="dropdown">
                                                    <li><a href="/collections/light-bulbs/cfl-bulbs">CFL Bulbs</a></li>
                                                    <li><a href="/collections/light-bulbs/edison-bulbs">Edison Bulbs</a></li>
                                                    <li><a href="/collections/light-bulbs/energy-saving-light-bulbs">Energy Saving Light Bulbs</a></li>
                                                    <li><a href="/collections/light-bulbs/led-light-bulbs">LED Light Bulbs</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a href="/collections/lighting-accessories" class=""><span>Lighting Accessories</span></a>
                                                <ul class="dropdown">
                                                    <li><a href="/collections/lighting-accessories/batten-holder">Batten Holder</a></li>
                                                    <li><a href="/collections/lighting-accessories/ceiling-roses">Ceiling Roses</a></li>
                                                    <li><a href="/collections/lighting-accessories/galleries">Galleries</a></li>
                                                    <li><a href="/collections/lighting-accessories/lampholders">Lampholders</a></li>
                                                    <li><a href="/collections/lighting-accessories/multi-light-pendants">Multi Light Pendants</a></li>
                                                    <li><a href="/collections/lighting-accessories/pendant-cords">Pendant Cords</a></li>
                                                    <li><a href="/collections/lighting-accessories/shades">Shades</a></li>
                                                    <li><a href="/collections/lighting-accessories/textile-cloth-cable">Textile Cloth Cable</a></li>
                                                    <li><a href="/collections/lighting-accessories/track-lighting">Track Lighting</a></li>
                                                    <li><a href="/collections/lighting-accessories/wall-lights">Wall Lights</a></li>
                                                    <li><a href="/collections/lighting-accessories/wall-plugs">Wall Plugs</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a href="/collections/fans" class=""><span>Fans</span></a>
                                                <ul class="dropdown">
                                                    <li><a href="/collections/fans/ceiling-fans">Ceiling Fans</a></li>
                                                    <li><a href="/collections/fans/desk-fans">Desk Fans</a></li>
                                                    <li><a href="/collections/fans/fan-accessories">Fan Accessories</a></li>
                                                    <li><a href="/collections/fans/outdoor-fans">Outdoor Fans</a></li>
                                                    <li><a href="/collections/fans/wall-fans">Wall Fans</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="/blogs/vintage-industrial-interior-design-blog" class=""><span>Blog</span></a>
                                            </li>
                                            <li>
                                                <a href="/pages/about-us" class=""><span>About Us</span></a>
                                            </li>
                                            <li>
                                                <a href="/pages/contact" class=""><span>Contact</span></a>
                                            </li>
                                        </ul>
                                        <ul class="list-inline tablet">
                                            <li>
                                                <a href="/#" data-href="/" class="top  current"><span>Home</span></a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="/#" data-href="/collections/lighting" class="top "><span>Lighting</span></a>
                                                <ul class="dropdown">
                                                    <li><a href="/collections/lighting/chandeliers">Chandeliers</a></li>
                                                    <li><a href="/collections/lighting/downlights">Downlights</a></li>
                                                    <li><a href="/collections/lighting/festoon-lights">Festoon Lights</a></li>
                                                    <li><a href="/collections/lighting/floor-lamps">Floor Lamps</a></li>
                                                    <li><a href="/collections/lighting/flush-mount-lights">Flush Mount Lights</a></li>
                                                    <li><a href="/collections/lighting/light-boxes">Light Boxes</a></li>
                                                    <li><a href="/collections/lighting/linear-lighting">Linear Lighting</a></li>
                                                    <li><a href="/collections/lighting/outdoor-lights">Outdoor Lights</a></li>
                                                    <li><a href="/collections/lighting/pendant-lights">Pendant Lights</a></li>
                                                    <li><a href="/collections/lighting/spotlights">Spotlights</a></li>
                                                    <li><a href="/collections/lighting/table-desk-lamps">Table / Desk Lamps</a></li>
                                                    <li><a href="/collections/lighting/track-lighting">Track Lighting</a></li>
                                                    <li><a href="/collections/lighting/vintage-marquee-lights">Vintage Marquee Lights</a></li>
                                                    <li><a href="/collections/lighting/wall-lights">Wall Lights</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a href="/#" data-href="/collections/light-bulbs" class="top "><span>Light Bulbs</span></a>
                                                <ul class="dropdown">
                                                    <li><a href="/collections/light-bulbs/cfl-bulbs">CFL Bulbs</a></li>
                                                    <li><a href="/collections/light-bulbs/edison-bulbs">Edison Bulbs</a></li>
                                                    <li><a href="/collections/light-bulbs/energy-saving-light-bulbs">Energy Saving Light Bulbs</a></li>
                                                    <li><a href="/collections/light-bulbs/led-light-bulbs">LED Light Bulbs</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a href="/#" data-href="/collections/lighting-accessories" class="top "><span>Lighting Accessories</span></a>
                                                <ul class="dropdown">
                                                    <li><a href="/collections/lighting-accessories/batten-holder">Batten Holder</a></li>
                                                    <li><a href="/collections/lighting-accessories/ceiling-roses">Ceiling Roses</a></li>
                                                    <li><a href="/collections/lighting-accessories/galleries">Galleries</a></li>
                                                    <li><a href="/collections/lighting-accessories/lampholders">Lampholders</a></li>
                                                    <li><a href="/collections/lighting-accessories/multi-light-pendants">Multi Light Pendants</a></li>
                                                    <li><a href="/collections/lighting-accessories/pendant-cords">Pendant Cords</a></li>
                                                    <li><a href="/collections/lighting-accessories/shades">Shades</a></li>
                                                    <li><a href="/collections/lighting-accessories/textile-cloth-cable">Textile Cloth Cable</a></li>
                                                    <li><a href="/collections/lighting-accessories/track-lighting">Track Lighting</a></li>
                                                    <li><a href="/collections/lighting-accessories/wall-lights">Wall Lights</a></li>
                                                    <li><a href="/collections/lighting-accessories/wall-plugs">Wall Plugs</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a href="/#" data-href="/collections/fans" class="top "><span>Fans</span></a>
                                                <ul class="dropdown">
                                                    <li><a href="/collections/fans/ceiling-fans">Ceiling Fans</a></li>
                                                    <li><a href="/collections/fans/desk-fans">Desk Fans</a></li>
                                                    <li><a href="/collections/fans/fan-accessories">Fan Accessories</a></li>
                                                    <li><a href="/collections/fans/outdoor-fans">Outdoor Fans</a></li>
                                                    <li><a href="/collections/fans/wall-fans">Wall Fans</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="/#" data-href="/blogs/vintage-industrial-interior-design-blog" class="top "><span>Blog</span></a>
                                            </li>
                                            <li>
                                                <a href="/#" data-href="/pages/about-us" class="top "><span>About Us</span></a>
                                            </li>
                                            <li>
                                                <a href="/#" data-href="/pages/contact" class="top "><span>Contact</span></a>
                                            </li>
                                        </ul>
                                    </nav> <!-- /.main -->
                                    <nav class="mobile visible-xs">
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <a style="padding-top:3px; display:block;" href="/#" data-toggle="offcanvas"><i class="fa fa-bars"></i></a>
                                            </div>
                                            <div class="col-xs-10">
                                                <form class="search mobile-search" action="/search">
                                                    <div class="input-group">
                                                        <input type="text" name="q" class="form-control" placeholder="Search" value="" x-webkit-speech="">
                                                        <span class="input-group-btn"><button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button></span>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </nav> <!-- /.mobile -->
                                </section>
                            </div>
                            <!-- End below navigation -->
                        </div>
                    </div>
                    <!-- End Header -->
                    <!-- Begin content-->
                    <section id="content">
                        <div class="products">
                            <div class="row">

                                <div class="product col-xs-6  col-sm-3 col-md-2">
                                    <div class="image">
                                        <a href="https://www.fatshackvintage.com.au/products/station-pendant-light">
                                            <img src="./Vintage_files/Copper_Station_Pendant_Light_matt_copper_finish_large.jpg" alt="Copper Station Pendant Light matt copper finish">
                                        </a>
                                        <div class="details">
                                            <a href="https://www.fatshackvintage.com.au/products/station-pendant-light" class="clearfix">
                                                <h4 class="title">Station Pendant Light</h4>
                                                <span class="price">
                                                    <small><em>from</em></small>
                                                    $110.00
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="product col-xs-6  col-sm-3 col-md-2">
                                    <div class="image">
                                        <a href="https://www.fatshackvintage.com.au/products/glass-chandelier-washington">
                                            <img src="./Vintage_files/Glass_Chandelier_ideal_for_cafe_or_restaurant_lighting_large.jpg" alt="Glass Chandelier ideal for cafe or restaurant lighting">
                                        </a>
                                        <div class="details">
                                            <a href="https://www.fatshackvintage.com.au/products/glass-chandelier-washington" class="clearfix">
                                                <h4 class="title">Glass Chandelier - Washington</h4>
                                                <span class="price">
                                                    $630.00
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

